* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

html,
body {
   height: 100%;
   width: 100%;
   max-width: 100vw;
   overflow-x: hidden;
   max-height: 100vh;
   background-color: #fffffd;
}

.sidebar {
   padding: 20px 20px 20px 20px;
   display: flex;
   flex-direction: column;
   align-items: start;
   height: auto;
   overflow-y: auto;
   overflow-x: hidden;

   justify-content: space-start;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   grid-column: 1;
   background-color: #f4faff;
   position: relative;
}

.sidebar-header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
   font-weight: 700;
   font-size: 1.2rem;
   margin: 1rem 0 2rem 0;
}

.sidebar-item {
   display: flex;
   flex-direction: row;
   justify-content: first baseline;
   align-items: center;
   margin: 0 0 0 0.8rem;
   gap: 0.8rem;
   font-weight: 400;
   font-size: 0.8rem;
   cursor: pointer;
}

.sidebar-content {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   position: relative;
}

.sidebar-footer {
   display: flex;
   flex-direction: row;

   align-items: center;
   width: 100%;
   gap: 0.5rem;

   font-weight: 400;
   font-size: 0.8rem;
   margin: 3rem 0 0 0.8rem;
   position: absolute;
   bottom: 2rem;
}

/* .header {
   background-color: #4caf50;
   color: white;
   padding: 10px 20px;
   text-align: center;
} */

@media (max-width: 599px) {
   .main-container {
      display: grid;
      grid-template-columns: 50px 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
      margin: 8px 8px;
      border: 2px solid #ccc;
      padding: 10px;
      color: black;
      border-radius: 30px;
      background-color: #f6faff;
   }
}

@media (min-width: 600px) and (max-width: 899px) {
   .main-container {
      display: grid;
      grid-template-columns: 50px 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
      margin: 8px 8px;
      border: 2px solid #ccc;
      padding: 10px;
      color: black;
      border-radius: 30px;
      background-color: #f6faff;
   }
}

@media (min-width: 900px) and (max-width: 1199px) {
   .main-container {
      display: grid;
      grid-template-columns: 200px 1fr 1fr;
      gap: 15px;
      margin: 0 2px;
      color: black;
      background-color: #f6faff;
   }
}

@media (min-width: 1200px) {
   .main-container {
      display: grid;
      grid-template-columns: 170px 1fr;
      gap: 10px;
      margin: 12px 8px 12px 8px;
      border: 2px solid #ccc;
      padding: 10px;
      border-radius: 30px;
      max-width: 100vw;
      overflow-x: hidden;
      /* background-color: #f6faff; */
   }

   .grid-small-container {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
   }
}

@media (max-width: 899px) {
   .grid-small-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      margin: 8px 8px;

      padding: 10px;
   }
}

.grid-col-1 {
   padding: 10px 10px 10px 10px;
   background-color: #fffffd;
}

.grid-col-2 {
   padding: 10px 20px;
   background-color: #f6faff;
   /* background-color: blue; */
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
}

.header-dashboard {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   gap: 1rem;
}

.notification-icon {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: start;

   padding: 10px;
   background-color: #ffffff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   margin-bottom: 1.5rem;
   gap: 1rem;
   margin-top: 1rem;
}

.search-bar {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: start;
   width: 100%;
   padding: 10px 20px;
   background-color: #ffffff;

   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   margin-bottom: 1.5rem;
   margin-top: 1rem;
   gap: 1rem;
}

.search-bar input {
   width: 100%;
   border: none;
   outline: none;
   font-size: 1rem;
   color: #333;
}
.search-bar input::placeholder {
   color: #aaa;
   font-size: 0.8rem;
}

.body-details {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   padding: 10px;
   background-color: #ffffff;
   margin-bottom: 1.5rem;
   gap: 4rem;
}

.body-detail-1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
   border-radius: 10px;
   margin-left: 2rem;
   padding-top: 20px;
   padding-bottom: 40px;
   background-color: #f6faff;
   position: relative;
}

.body-detail-2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 60%;

   /* background-color: #3b36a5; */
   gap: 1rem;
}

.body-detail-2-card {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
   width: 100%;
   /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
   border-radius: 30px;
   background-color: #f6faff;
   padding: 1rem;
}

/* .scan-arc {
   position: absolute;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
   width: 150px;
   height: 40px;
   background: radial-gradient(ellipse at center, transparent 70%, rgba(0, 0, 0, 0.4) 70%);
   border-radius: 50%;
   z-index: 0;
} */

.activity-area {
   background: #f6faff;
   border-radius: 20px;
   padding: 24px 32px;
   margin-top: 24px;
   box-shadow: 0 2px 8px rgba(44, 62, 80, 0.04);
}

.activity-header {
   display: flex;
   align-items: center;
   gap: 16px;
   font-size: 1.1rem;
   font-weight: 700;
   color: #23235f;
   margin-bottom: 16px;
}

.activity-subtext {
   font-size: 0.95rem;
   font-weight: 400;
   color: #a0aec0;
   margin-left: auto;
}

.activity-details {
   font-size: 0.7rem;
   font-weight: 400;
   color: #3b36a5;
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: end;
   gap: 0.5rem;
}

.activity-chart-custom {
   display: flex;
   align-items: flex-end;
   gap: 32px; /* space between days */
   height: 120px;
   padding: 0 12px;
}

.activity-day-group {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100%;
}

.activity-bar-custom {
   width: 6px;
   border-radius: 6px;
   margin: 0 2px;
   margin-bottom: 4px;
   transition: height 0.3s;
}

.day-label-custom {
   font-size: 0.95rem;
   color: #bfc7d1;
   margin-top: 8px;
   letter-spacing: 0.5px;
}

.grid-col-2-header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: end;
   width: 100%;
   gap: 0.8rem;
   /* background-color: blue; */
   margin-top: 1rem;
   margin-bottom: 1.5rem;
   padding-right: 1rem;
}
.avatar {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: end;
   border-radius: 30%;
   background-color: #01dfec;
   cursor: pointer;
   padding: 5px;
}

.addButton {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border-radius: 30%;
   background-color: #3b36a5;

   cursor: pointer;
   padding: 8px;
}

.calendar-header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   font-weight: 500;
   color: #3b36a5;
   padding-left: 10px;
   padding-right: 20px;
}

.calendar {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   /* gap: 1rem; */
   margin-top: 20px;
   /* background-color: #3b36a5; */
}

.day {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 15px 15px;
   gap: 1.2rem;
   background-color: #f6faff;
   border-radius: 10px;
   cursor: pointer;
   /* background-color: #36a56d; */
}

.highlighted {
   background-color: #edf4ff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 15px 15px;
   gap: 1.2rem;

   border-radius: 20px;
   cursor: pointer;
}

.light-opacity {
   background-color: #f6faff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 15px 15px;
   gap: 1.2rem;

   border-radius: 20px;
   cursor: pointer;
}

.day-name {
   font-weight: 500;
   color: #3b36a5;
   font-size: 0.7rem;
}

.day-date {
   font-weight: 600;
   color: #0b073e;
   font-size: 1.2rem;
}

.day-time {
   font-weight: 300;
   color: #0b073e;
   font-size: 0.7rem;
}
.day.selected {
   background-color: #3b36a5;
   color: white;
}

.light-opacity {
   opacity: 0.5;
}

.big-dash {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.highlighted-time {
   font-weight: 300;
   color: #ffffffce;
   font-size: 0.7rem;
   padding: 5px 10px;
   border-radius: 10px;
   background-color: #aaaed7;
}

.highlighted-current-time {
   background-color: #3933a8;
   font-weight: 300;
   color: #ffffffce;
   font-size: 0.7rem;
   padding: 5px 10px;
   border-radius: 10px;
}

.grid-col-2-body {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   padding: 10px 22px;
   background-color: #f6faff;
   border-radius: 10px;
   margin-bottom: 1.5rem;
}

.grid-col-2-body-card1 {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
   width: 35%;
   padding: 20px 18px;
   background-color: #3734a9;
   border-radius: 20px;
   color: #f6faff;
   font-size: 0.9rem;
   gap: 0.5rem;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   position: relative;
}

.grid-col-2-body-card2 {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   width: 65%;
   padding: 20px 20px;
   background-color: #dde2f9;
   border-radius: 20px;
   font-size: 0.9rem;
   gap: 0.5rem;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   position: relative;
}

.upcoming-schedule {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
   width: 100%;
   padding: 20px 20px;

   border-radius: 20px;
   font-size: 0.9rem;
   gap: 0.5rem;
}

.upcoming-schedule__day {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   gap: 1rem;
   padding: 10px 0;
}
